# credentials
.env
**/.env
**/snowflake_credential.json
**/bigquery_credential.json

# DB
spider2-lite/resource/databases/spider2-localdb
data/BIRD/dev_databases
spider2-lite/resource/local_sqlite.zip

# business eval source docs
data/业务评测集_markdown/
data/合并表结构.txt

# output log
spider2-snow/evaluation_suite/log.txt

# example_folder
methods/ReFoRCE/examples*

# cache
**/__pycache__

# output folder
methods/ReFoRCE/output/
output/

# vscode
.vscode/

# macOS
.DS_Store
**/.DS_Store
